<form class="flex flex-col items-center" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <img class="w-4/5" src="../../../assets//images/pokemon-starters.png"/>
    <fieldset class="flex w-4/5 pt-16">
        <input type="text" 
        ngModel
        #username="ngModel"
        name="username" id="username" 
        class="rounded-r-none shadow-lg w-full h-16 border-4 border-solid border-sky-500 text-center text-3xl" placeholder="Enter your name"/>
        <button type="submit" class="rounded-lg rounded-l-none shadow-lg bg-yellow-400 border-4 border-l-0 border-blue-500 text-blue-500 font-bold text-2xl p-2 w-40 hover:bg-yellow-500">LOGIN</button>
    </fieldset>
</form>