<!-- pokemon-catalogue.component.html -->
<div class="catalogue">

    <h1 class="title">Pokémon catalogue</h1>

    <h4 class="subtitle">Select region</h4>
    <select name="select-region" id="select-region">
        <option value="1">Kanto</option>
    </select>

    <h4 class="subtitle">Pokémon</h4>
    <ul class="all-pokemon">
        <li>Pokemon go here :)</li>
        <!--
        <li class="profile-power" *ngFor="let pkmn of pokemon.noe">
            {{ pkmn }}
        </li>
        -->
    </ul>

</div>