<!-- pokemon-catalogue.page.html -->
<main class="flex flex-col items-center p-20 pt-10">
    

    <!--
        TODO 
        region selector
        Triggers API call, so wrap in form to avoid unnecessary fetching
        add onSubmit function in ts-file
    -->
    <h1 class="title text-5xl font-semibold">Pokémon catalogue</h1>
    <div class="p-4">
        <label class="pr-5 text-lg">Choose generation: </label>
        <select class="" name="select-region" id="select-region">
            <option>Select generation</option>
            <option value="1">Kanto - gen 1</option>
        </select>
        <p class="font-semibold text-lg">Click the pokéball to catch your next pokemon!</p>
    </div>

    
    <!-- <p *ngIf="loading">Loading Pokémon...</p> -->
    <app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
</main>